name: Java CI Alt Maven

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2025, ubuntu-22.04 ]
        version: [ '21.0.2' ]
        distribution: [ 'jetbrains', 'microsoft' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21.0.2, x64
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: ${{ matrix.version }}
          java-package: jdk
          architecture: x64
          cache: 'maven'

      - name: Build with Maven
        run: |
          java -version
          mvn -B package --file pom.xml
          ant -noinput -buildfile build.xml clean all build-jar