name: Java CI ARM Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ ubuntu-22.04-arm, ubuntu-24.04-arm, windows-11-arm ]
        distribution: [ 'temurin', 'liberica' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 8, arm
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.302'
          java-package: jdk
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          java -version
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml clean all "-Dgradle-cache=true"