name: Java CI ARM Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ ubuntu-22.04-arm, ubuntu-24.04-arm ]
        distribution: [ 'temurin', 'liberica' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 8, arm
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.302'
          java-package: jdk
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          java -version
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Dgson_path=".gradle/caches/modules-2/files-2.1/com.google.code.gson/gson/2.13.0/111ac98ad3d2d099d81d53b0549748144a8d2659/gson-2.13.0.jar" clean all build-jar