name: Java CI Dragonwell Maven

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2019, ubuntu-20.04 ]
        version: [ '8' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8 x64
        uses: actions/setup-java@v4
        with:
          distribution: 'dragonwell'
          java-version: ${{ matrix.version }}
          java-package: jdk
          architecture: x64
          cache: 'maven'

      - name: Build with Maven
        run: |
          java -version
          mvn -B package --file pom.xml
          ant -noinput -buildfile build.xml clean all build-jar