name: Java CI gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2019, ubuntu-18.04, macos-10.15 ]
        distribution: [ 'adopt-openj9' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 16.0.2+7
        uses: actions/setup-java@v3
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '16.0.2+7'
          java-package: jdk
          architecture: x64
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Drepository="/.gradle/caches/modules-2/files-2.1" -Dgson_path="/com.google.code.gson/gson/2.10/dd9b193aef96e973d5a11ab13cd17430c2e4306b" clean all build-jar