name: Java CI gradle

on: [push]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2019, windows-2022, ubuntu-20.04, macos-11 ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 8.0.265+1
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt-openj9'
          java-version: '8.0.265+1'
          java-package: jdk
          architecture: x86
          cache: 'gradle'

      - name: Build with Gradle
        run: |
          chmod +x ./gradlew
          ./gradlew build --no-daemon

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml -Drepository="/.gradle/caches/modules-2/files-2.1" -Dgson_path="/com.google.code.gson/gson/2.10/dd9b193aef96e973d5a11ab13cd17430c2e4306b" clean all build-jar