name: Java CI gradle

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v2

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 11.0.16
        uses: actions/setup-java@v1
        with:
          distribution: 'corretto'
          java-version: '11.0.16'
          java-package: jdk
          architecture: x64

      - name: Build with Gradle
        run: gradle build