name: Java CI gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2019, ubuntu-20.04, macos-11 ]
        distribution: [ 'semeru' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v3

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '18'
          java-package: jdk
          architecture: x64
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Drepository="/.gradle/caches/modules-2/files-2.1" -Dgson_path="/com.google.code.gson/gson/2.10.1/b3add478d4382b78ea20b1671390a858002feb6c" clean all build-jar