name: Java CI gradle

on: [push]

jobs:
  build:

    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3

      - uses: gradle/wrapper-validation-action@v1

      - name: Set up JDK 8.0.192+12
        uses: actions/setup-java@v3
        with:
          distribution: 'adopt-openj9'
          java-version: '8.0.192+12'
          java-package: jdk
          architecture: x86

      - name: Build with Gradle
        run: gradle build