name: Java CI MacOS Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ macos-12, macos-13, macos-14 ]
        distribution: [ 'adopt-hotspot', 'adopt-openj9' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v3

      - name: Set up JDK x64
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.412'
          java-package: jdk
          architecture: x64
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          java -version
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Drepository="/.gradle/caches/modules-2/files-2.1" -Dgson_path="/com.google.code.gson/gson/2.11.0/527175ca6d81050b53bdd4c457a6d6e017626b0e" clean all build-jar