name: Java CI MacOS Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ macos-13, macos-14, macos-15 ]
        distribution: [ 'adopt-hotspot', 'adopt-openj9' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 8, x64
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.352'
          java-package: jdk
          architecture: x64
          cache: 'gradle'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
            gradle-version: "4.6"

      - name: Run gradle and ant builds
        run: |
          java -version
          gradle -version
          gradle build --no-daemon
          ant -noinput -buildfile build.xml clean all \
          -Dgson-path=".gradle/caches/modules-2/files-2.1/com.google.code.gson/gson/2.13.1/853ce06c11316b33a8eae5e9095da096a9528b8f/gson-2.13.1.jar" \
          -Djunit-api=".gradle/caches/modules-2/files-2.1/org.junit.jupiter/junit-jupiter-api/5.11.4/308315b28e667db4091b2ba1f7aa220d1ddadb97/junit-jupiter-api-5.11.4.jar" \
          -Djunit-engine=".gradle/caches/modules-2/files-2.1/org.junit.jupiter/junit-jupiter-engine/5.11.4/dc10ec209623986a68ea07f67cdc7d2a65a60355/junit-jupiter-engine-5.11.4.jar" \
          -Djunit-platform.commons=".gradle/caches/modules-2/files-2.1/org.junit.platform/junit-platform-commons/1.11.4/8898eea3ed0da2641548d602c3e308804f166303/junit-platform-commons-1.11.4.jar" \
          -Djunit-platform.engine=".gradle/caches/modules-2/files-2.1/org.junit.platform/junit-platform-engine/1.11.4/21f61b123ad6ac8f7e73971bff3a096c8d8e1cd0/junit-platform-engine-1.11.4.jar" \
          -Djunit-platform.launcher=".gradle/caches/modules-2/files-2.1/org.junit.platform/junit-platform-launcher/1.11.4/3d83c201899d8c5e74e1a5d628eab900342a0e48/junit-platform-launcher-1.11.4.jar" \
          -Dopentest4j=".gradle/caches/modules-2/files-2.1/org.opentest4j/opentest4j/1.3.0/152ea56b3a72f655d4fd677fc0ef2596c3dd5e6e/opentest4j-1.3.0.jar" \
          -Dbcprov=".gradle/caches/modules-2/files-2.1/org.bouncycastle/bcprov-jdk14/1.80/5dbb73dc285fc3f53a43784ac9d319cee9c3db69/bcprov-jdk14-1.80.jar"