name: Java CI MacOS Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ macos-13, macos-14, macos-15, macos-26 ]
        distribution: [ 'adopt-hotspot', 'adopt-openj9' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 8, x64
        uses: actions/setup-java@v5
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.352'
          java-package: jdk
          architecture: x64
          cache: 'gradle'

      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
            gradle-version: "4.6"

      - name: Run gradle and ant builds
        run: |
          java -version
          gradle -version
          gradle build --no-daemon
          ant -noinput -buildfile build.xml clean all "-Dgradle-cache=true"