name: Java CI maven

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - uses: graalvm/setup-graalvm@v1
        with:
          version: '21.2.0'
          java-version: '8'
          cache: 'maven'
      - run: |
          mvn -B package --file pom.xml
          ant -noinput -buildfile build.xml clean all build-jar