name: Java CI maven

on: [push]

jobs:
  build:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2

    - name: Set up JDK 1.8.0
      uses: actions/setup-java@v1
      with:
        java-version: '1.8.0'
        java-package: jdk
        architecture: x86

    - name: Build with Maven
      run: mvn -B package --file pom.xml
