name: Java CI maven

on: [push]

jobs:
  build:

    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8.0.352+8
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '8.0.352+8'
          java-package: jdk
          architecture: ppc64le
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml clean all build-jar
