name: Java CI maven

on: [push]

jobs:
  build:

    runs-on: windows-2022

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 8
        uses: actions/setup-java@v3
        with:
          distribution: 'corretto'
          java-version: '8'
          java-package: jdk
          architecture: x86
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Build with Ant
        run: ant -noinput -buildfile build.xml clean all build-jar
