name: Java CI maven

on: [push]

jobs:
  build:

    runs-on: macos-10.15

    steps:
    - uses: actions/checkout@v3

    - name: Set up JDK 17.0.4
      uses: actions/setup-java@v2
      with:
        distribution: 'microsoft'
        java-version: '17.0.4'
        java-package: jdk
        architecture: x64

    - name: Build with Maven
      run: mvn -B package --file pom.xml
