name: Java CI x86 Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2025, ubuntu-24.04 ]
        distribution: [ 'temurin' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v3

      - name: Set up JDK 8, x86
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.153'
          java-package: jdk
          architecture: x86
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          java -version
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Drepository="/.gradle/caches/modules-2/files-2.1" -Dgson_path="/com.google.code.gson/gson/2.12.0/10596b68aaca6230f7c40bfd9298b21ff4b84103" clean all build-jar