name: Java CI x86 Gradle

on: [push, pull_request]

jobs:
  build:

    strategy:
      matrix:
        os: [ windows-2025, ubuntu-24.04 ]
        distribution: [ 'zulu' ]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - uses: gradle/actions/wrapper-validation@v4

      - name: Set up JDK 8, x86
        uses: actions/setup-java@v4
        with:
          distribution: ${{ matrix.distribution }}
          java-version: '8.0.153'
          java-package: jdk
          architecture: x86
          cache: 'gradle'

      - name: Run gradle and ant builds
        run: |
          java -version
          chmod +x ./gradlew
          ./gradlew build --no-daemon
          ant -noinput -buildfile build.xml -Dgson_path=".gradle/caches/modules-2/files-2.1/com.google.code.gson/gson/2.13.1/853ce06c11316b33a8eae5e9095da096a9528b8f/gson-2.13.1.jar" clean all build-jar